/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-serif-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/pt-serif-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-serif-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-serif-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-serif-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-serif-v12-latin-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
}
/* pt-serif-700 - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-serif-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/pt-serif-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-serif-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-serif-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-serif-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-serif-v12-latin-700.svg#PTSerif') format('svg'); /* Legacy iOS */
}

body {
  margin: auto;
}
.clearfix::after { 
  content: '';
  clear: both; 
  display: inline;
}

.container {
  max-width: 100%;
  margin-right: 0 auto;
  margin-left: 0 aut;
}
.header-logo {
  font-size: 12px;
  font-weight: 700;
  font-family: PT Serif;
  color: #171717;
  display: inline;
  margin-left: 10pc;
 }

.nav-menu {
  float: right;
}
  
.nav-menu-item.active {
  color: #C9A96E;
}

.nav-menu-item {
  vertical-align: top;
  margin: 0 15px;
  text-decoration: none;
  padding: 10px;
  color: #171717;
}
.nav-menu-item:hover {
  color: #C9A96E;
}

