@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
  margin: 15px;
  font-size: 12px;
  line-height: 1.6;
  width: 1200px;
}

.clearfix::after { 
  content: '';
  clear: both; 
  display: inline;
}

.logotype {
  font-size: 12px;
  font-weight: 400;
  color: #171717;
  display: inline;
}

.nav-menu {
  float: left;
}
  
.nav-menu {
  vertical-align: top;
  margin: 0 15px;
  text-decoration: none;
  padding: 10px;
  color: #171717;
}

.nav-menu-item {
  color: #C9A96E;
  text-decoration: none;
  padding: 10px;
}
